/* footer.css */

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    border-top: 4px solid #6B4DEE;
    width: 99vw;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    font-family: 'Montserrat', sans-serif;
    width: 80%;
    text-align: center;
    margin-top: 2.4rem;
  }
  
  .footer-logo {
    cursor: pointer;
  }
  
  .footer-title {
    font-weight: bold;
    font-size: 1.875rem;
    color: #6B4DEE;
    margin-top: 0.5rem;
  }
  
  .footer-contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2.1rem;
    margin-top: 1rem;
  }
  
  .footer-contact-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 0.875rem;
  }
  
  .footer-contact-item img {
    width: 30px;
    height: 30px;
    margin-right: 0.5rem;
  }
  
  .footer-info {
    font-size: 0.875rem;
    font-weight: 600;
    color: #535353;
    margin-top: 1.5rem;
  }
  
  @media (max-width:600px) {
    .footer-contact{
        flex-direction: column;
    }
  }